body {
  font-family: "Sora", serif;
}
/* Frame 10 */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
align-content: flex-start;
padding: 0px;
gap: 23px;

position: absolute;
width: 872px;
height: 400px;
left: 588px;
top: 2271px;

/* Group 31 */

width: 275px;
height: 118px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Rectangle 7 */

box-sizing: border-box;

position: absolute;
width: 275px;
height: 118px;
left: 0px;
top: 0px;

background: #ffffff;
border: 1px solid rgba(17, 17, 17, 0.1);
border-radius: 10px;

/* Group 17 */

position: absolute;
width: 221px;
height: 86px;
left: 16px;
top: 16px;

/* Group 15 */

position: absolute;
width: 119px;
height: 79px;
left: 118px;
top: 20px;

/* Frame 9 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 11px;

position: absolute;
width: 54px;
height: 20px;
left: 118px;
top: 20px;

/* fi_2107957 */

width: 18px;
height: 18px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0.08%;
bottom: 0.07%;

background: #ffc107;

/* 4.5 */

width: 25px;
height: 20px;

font-family: "Sora";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

/* Text */
color: #111111;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Onion 1 KG */

position: absolute;
width: 119px;
height: 25px;
left: 118px;
top: 48px;

font-family: "Sora";
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;

/* Text */
color: #111111;

/* $39.99 */

position: absolute;
width: 78px;
height: 20px;
left: 118px;
top: 79px;

font-family: "Sora";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

/* Text */
color: #111111;

/* Group 16 */

position: absolute;
width: 86px;
height: 86px;
left: 16px;
top: 16px;

/* Rectangle 14 */

position: absolute;
width: 86px;
height: 86px;
left: 16px;
top: 16px;

/* Secoundry */
background: #efebe3;
border-radius: 10px;

/* image 43 */

position: absolute;
width: 70.32px;
height: 70px;
left: 24px;
top: 24px;

background: url(.png);

/* Group 18 */

width: 275px;
height: 118px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Rectangle 7 */

box-sizing: border-box;

position: absolute;
width: 275px;
height: 118px;
left: 298px;
top: 0px;

background: #ffffff;
border: 1px solid rgba(17, 17, 17, 0.1);
border-radius: 10px;

/* Group 17 */

position: absolute;
width: 249px;
height: 86px;
left: 314px;
top: 16px;

/* Group 15 */

position: absolute;
width: 147px;
height: 79px;
left: 416px;
top: 20px;

/* Frame 9 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 11px;

position: absolute;
width: 54px;
height: 20px;
left: 416px;
top: 20px;

/* fi_2107957 */

width: 18px;
height: 18px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0.08%;
bottom: 0.07%;

background: #ffc107;

/* 4.5 */

width: 25px;
height: 20px;

font-family: "Sora";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

/* Text */
color: #111111;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Tomato 500 g */

position: absolute;
width: 147px;
height: 25px;
left: 416px;
top: 48px;

font-family: "Sora";
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;

/* Text */
color: #111111;

/* $39.99 */

position: absolute;
width: 78px;
height: 20px;
left: 416px;
top: 79px;

font-family: "Sora";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

/* Text */
color: #111111;

/* Group 16 */

position: absolute;
width: 86px;
height: 86px;
left: 314px;
top: 16px;

/* Rectangle 14 */

position: absolute;
width: 86px;
height: 86px;
left: 314px;
top: 16px;

/* Secoundry */
background: #efebe3;
border-radius: 10px;

/* image 41 */

position: absolute;
width: 70px;
height: 70px;
left: 322px;
top: 24px;

background: url(.png);

/* Group 32 */

width: 275px;
height: 118px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Rectangle 7 */

box-sizing: border-box;

position: absolute;
width: 275px;
height: 118px;
left: 596px;
top: 0px;

background: #ffffff;
border: 1px solid rgba(17, 17, 17, 0.1);
border-radius: 10px;

/* Group 17 */

position: absolute;
width: 235px;
height: 86px;
left: 612px;
top: 16px;

/* Group 15 */

position: absolute;
width: 133px;
height: 79px;
left: 714px;
top: 20px;

/* Frame 9 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 11px;

position: absolute;
width: 54px;
height: 20px;
left: 714px;
top: 20px;

/* fi_2107957 */

width: 18px;
height: 18px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0.08%;
bottom: 0.07%;

background: #ffc107;

/* 4.5 */

width: 25px;
height: 20px;

font-family: "Sora";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

/* Text */
color: #111111;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Potato 1 KG */

position: absolute;
width: 133px;
height: 25px;
left: 714px;
top: 48px;

font-family: "Sora";
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;

/* Text */
color: #111111;

/* $39.99 */

position: absolute;
width: 78px;
height: 20px;
left: 714px;
top: 79px;

font-family: "Sora";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

/* Text */
color: #111111;

/* Group 16 */

position: absolute;
width: 86px;
height: 86px;
left: 612px;
top: 16px;

/* Rectangle 14 */

position: absolute;
width: 86px;
height: 86px;
left: 612px;
top: 16px;

/* Secoundry */
background: #efebe3;
border-radius: 10px;

/* image 44 */

position: absolute;
width: 70px;
height: 70px;
left: 620px;
top: 24px;

background: url(.png);

/* Group 29 */

width: 275px;
height: 118px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;

/* Rectangle 7 */

box-sizing: border-box;

position: absolute;
width: 275px;
height: 118px;
left: 0px;
top: 141px;

background: #ffffff;
border: 1px solid rgba(17, 17, 17, 0.1);
border-radius: 10px;

/* Group 17 */

position: absolute;
width: 249px;
height: 86px;
left: 16px;
top: 157px;

/* Group 15 */

position: absolute;
width: 147px;
height: 79px;
left: 118px;
top: 161px;

/* Frame 9 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 11px;

position: absolute;
width: 54px;
height: 20px;
left: 118px;
top: 161px;

/* fi_2107957 */

width: 18px;
height: 18px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0.08%;
bottom: 0.07%;

background: #ffc107;

/* 4.5 */

width: 25px;
height: 20px;

font-family: "Sora";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

/* Text */
color: #111111;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Tomato 500 g */

position: absolute;
width: 147px;
height: 25px;
left: 118px;
top: 189px;

font-family: "Sora";
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;

/* Text */
color: #111111;

/* $39.99 */

position: absolute;
width: 78px;
height: 20px;
left: 118px;
top: 220px;

font-family: "Sora";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

/* Text */
color: #111111;

/* Group 16 */

position: absolute;
width: 86px;
height: 86px;
left: 16px;
top: 157px;

/* Rectangle 14 */

position: absolute;
width: 86px;
height: 86px;
left: 16px;
top: 157px;

/* Secoundry */
background: #efebe3;
border-radius: 10px;

/* image 41 */

position: absolute;
width: 70px;
height: 70px;
left: 24px;
top: 165px;

background: url(.png);

/* Group 19 */

width: 275px;
height: 118px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;

/* Rectangle 7 */

box-sizing: border-box;

position: absolute;
width: 275px;
height: 118px;
left: 298px;
top: 141px;

background: #ffffff;
border: 1px solid rgba(17, 17, 17, 0.1);
border-radius: 10px;

/* Group 17 */

position: absolute;
width: 221px;
height: 86px;
left: 314px;
top: 157px;

/* Group 15 */

position: absolute;
width: 119px;
height: 79px;
left: 416px;
top: 161px;

/* Frame 9 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 11px;

position: absolute;
width: 54px;
height: 20px;
left: 416px;
top: 161px;

/* fi_2107957 */

width: 18px;
height: 18px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0.08%;
bottom: 0.07%;

background: #ffc107;

/* 4.5 */

width: 25px;
height: 20px;

font-family: "Sora";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

/* Text */
color: #111111;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Onion 1 KG */

position: absolute;
width: 119px;
height: 25px;
left: 416px;
top: 189px;

font-family: "Sora";
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;

/* Text */
color: #111111;

/* $39.99 */

position: absolute;
width: 78px;
height: 20px;
left: 416px;
top: 220px;

font-family: "Sora";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

/* Text */
color: #111111;

/* Group 16 */

position: absolute;
width: 86px;
height: 86px;
left: 314px;
top: 157px;

/* Rectangle 14 */

position: absolute;
width: 86px;
height: 86px;
left: 314px;
top: 157px;

/* Secoundry */
background: #efebe3;
border-radius: 10px;

/* image 43 */

position: absolute;
width: 70.32px;
height: 70px;
left: 322px;
top: 165px;

background: url(.png);

/* Group 28 */

width: 275px;
height: 118px;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;

/* Rectangle 7 */

box-sizing: border-box;

position: absolute;
width: 275px;
height: 118px;
left: 596px;
top: 141px;

background: #ffffff;
border: 1px solid rgba(17, 17, 17, 0.1);
border-radius: 10px;

/* Group 17 */

position: absolute;
width: 249px;
height: 86px;
left: 612px;
top: 157px;

/* Group 15 */

position: absolute;
width: 147px;
height: 79px;
left: 714px;
top: 161px;

/* Frame 9 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 11px;

position: absolute;
width: 54px;
height: 20px;
left: 714px;
top: 161px;

/* fi_2107957 */

width: 18px;
height: 18px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0.08%;
bottom: 0.07%;

background: #ffc107;

/* 4.5 */

width: 25px;
height: 20px;

font-family: "Sora";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

/* Text */
color: #111111;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Tomato 500 g */

position: absolute;
width: 147px;
height: 25px;
left: 714px;
top: 189px;

font-family: "Sora";
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;

/* Text */
color: #111111;

/* $39.99 */

position: absolute;
width: 78px;
height: 20px;
left: 714px;
top: 220px;

font-family: "Sora";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

/* Text */
color: #111111;

/* Group 16 */

position: absolute;
width: 86px;
height: 86px;
left: 612px;
top: 157px;

/* Rectangle 14 */

position: absolute;
width: 86px;
height: 86px;
left: 612px;
top: 157px;

/* Secoundry */
background: #efebe3;
border-radius: 10px;

/* image 41 */

position: absolute;
width: 70px;
height: 70px;
left: 620px;
top: 165px;

background: url(.png);

/* Group 30 */

width: 275px;
height: 118px;

/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;

/* Rectangle 7 */

box-sizing: border-box;

position: absolute;
width: 275px;
height: 118px;
left: 0px;
top: 282px;

background: #ffffff;
border: 1px solid rgba(17, 17, 17, 0.1);
border-radius: 10px;

/* Group 17 */

position: absolute;
width: 221px;
height: 86px;
left: 16px;
top: 298px;

/* Group 15 */

position: absolute;
width: 119px;
height: 79px;
left: 118px;
top: 302px;

/* Frame 9 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 11px;

position: absolute;
width: 54px;
height: 20px;
left: 118px;
top: 302px;

/* fi_2107957 */

width: 18px;
height: 18px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0.08%;
bottom: 0.07%;

background: #ffc107;

/* 4.5 */

width: 25px;
height: 20px;

font-family: "Sora";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

/* Text */
color: #111111;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Onion 1 KG */

position: absolute;
width: 119px;
height: 25px;
left: 118px;
top: 330px;

font-family: "Sora";
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;

/* Text */
color: #111111;

/* $39.99 */

position: absolute;
width: 78px;
height: 20px;
left: 118px;
top: 361px;

font-family: "Sora";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

/* Text */
color: #111111;

/* Group 16 */

position: absolute;
width: 86px;
height: 86px;
left: 16px;
top: 298px;

/* Rectangle 14 */

position: absolute;
width: 86px;
height: 86px;
left: 16px;
top: 298px;

/* Secoundry */
background: #efebe3;
border-radius: 10px;

/* image 43 */

position: absolute;
width: 70.32px;
height: 70px;
left: 24px;
top: 306px;

background: url(.png);

/* Group 20 */

width: 275px;
height: 118px;

/* Inside auto layout */
flex: none;
order: 7;
flex-grow: 0;

/* Rectangle 7 */

box-sizing: border-box;

position: absolute;
width: 275px;
height: 118px;
left: 298px;
top: 282px;

background: #ffffff;
border: 1px solid rgba(17, 17, 17, 0.1);
border-radius: 10px;

/* Group 17 */

position: absolute;
width: 235px;
height: 86px;
left: 314px;
top: 298px;

/* Group 15 */

position: absolute;
width: 133px;
height: 79px;
left: 416px;
top: 302px;

/* Frame 9 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 11px;

position: absolute;
width: 54px;
height: 20px;
left: 416px;
top: 302px;

/* fi_2107957 */

width: 18px;
height: 18px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0.08%;
bottom: 0.07%;

background: #ffc107;

/* 4.5 */

width: 25px;
height: 20px;

font-family: "Sora";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

/* Text */
color: #111111;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Potato 1 KG */

position: absolute;
width: 133px;
height: 25px;
left: 416px;
top: 330px;

font-family: "Sora";
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;

/* Text */
color: #111111;

/* $39.99 */

position: absolute;
width: 78px;
height: 20px;
left: 416px;
top: 361px;

font-family: "Sora";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

/* Text */
color: #111111;

/* Group 16 */

position: absolute;
width: 86px;
height: 86px;
left: 314px;
top: 298px;

/* Rectangle 14 */

position: absolute;
width: 86px;
height: 86px;
left: 314px;
top: 298px;

/* Secoundry */
background: #efebe3;
border-radius: 10px;

/* image 44 */

position: absolute;
width: 70px;
height: 70px;
left: 322px;
top: 306px;

background: url(.png);

/* Group 33 */

width: 275px;
height: 118px;

/* Inside auto layout */
flex: none;
order: 8;
flex-grow: 0;

/* Rectangle 7 */

box-sizing: border-box;

position: absolute;
width: 275px;
height: 118px;
left: 596px;
top: 282px;

background: #ffffff;
border: 1px solid rgba(17, 17, 17, 0.1);
border-radius: 10px;

/* Group 17 */

position: absolute;
width: 235px;
height: 86px;
left: 612px;
top: 298px;

/* Group 15 */

position: absolute;
width: 133px;
height: 79px;
left: 714px;
top: 302px;

/* Frame 9 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 11px;

position: absolute;
width: 54px;
height: 20px;
left: 714px;
top: 302px;

/* fi_2107957 */

width: 18px;
height: 18px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0.08%;
bottom: 0.07%;

background: #ffc107;

/* 4.5 */

width: 25px;
height: 20px;

font-family: "Sora";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

/* Text */
color: #111111;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Potato 1 KG */

position: absolute;
width: 133px;
height: 25px;
left: 714px;
top: 330px;

font-family: "Sora";
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;

/* Text */
color: #111111;

/* $39.99 */

position: absolute;
width: 78px;
height: 20px;
left: 714px;
top: 361px;

font-family: "Sora";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

/* Text */
color: #111111;

/* Group 16 */

position: absolute;
width: 86px;
height: 86px;
left: 612px;
top: 298px;

/* Rectangle 14 */

position: absolute;
width: 86px;
height: 86px;
left: 612px;
top: 298px;

/* Secoundry */
background: #efebe3;
border-radius: 10px;

/* image 44 */

position: absolute;
width: 70px;
height: 70px;
left: 620px;
top: 306px;

background: url(.png);
